

<form action="/DMLT_TuLuuTru/XuLyTimKiemTu" method="post">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <input type="text" name="txtTuKhoa" class="form-control mb-2 mr-sm-2 text-center" placeholder="Search" />
            </div>
            <div class="col-md-4">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>