@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<style>
    .DM-ThongKe {
        background-color: #d20f19;
        height: 115%;
        border-radius: 5px;
        font-size: 17px;
        color: white;
        font-weight: 700;
        padding: 3px;
        margin-left: 5%;
    }
    .ChiTiet {
        width: 100%;
        background-color: #370101;
        border-radius: 5px;
        text-align: center;
    }
        .ChiTiet:hover {
            background-color: #620404;
        }
    .images-icon-tk {
        font-size: 400%;
        padding-top: 19px;
    }
</style>

<div class="container" >
    <div class="row">
        <div class="col-md-3">
            <div class="row DM-ThongKe">
                <div class="col-md-6">
                    <div>2022</div>
                    <div style="padding-top: 12px;">Kệ giá </div>
                    <hr style=" border: revert; margin-top:3px"/>
                </div>
                <div class="col-md-6">
                    <i class="fa-solid fa-warehouse images-icon-tk"></i>
                </div>
                <a class="ChiTiet">
                   Chi tiết
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row DM-ThongKe">
                <div class="col-md-6">
                    <div>2022</div>
                    <div style="padding-top: 12px;">Hộp cặp</div>
                    <hr style=" border: revert; margin-top: 3px" />
                </div>
                <div class="col-md-6">
                    <i class="fa-sharp fa-solid fa-boxes-packing images-icon-tk"></i>
                </div>
                <a class="ChiTiet">
                    Chi tiết
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row DM-ThongKe">
                <div class="col-md-6">
                    <div>2022</div>
                    <div style="padding-top: 12px;">Hồ sơ  </div>
                    <hr style=" border: revert; margin-top: 3px" />
                </div>
                <div class="col-md-6">
                    <i class="fa-solid fa-file-invoice images-icon-tk"></i>
                </div>
                <a class="ChiTiet">
                    Chi tiết
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row DM-ThongKe">
                <div class="col-md-6">
                    <div>2022</div>
                    <div style="padding-top: 12px;">Tài liệu </div>
                    <hr style=" border: revert; margin-top: 3px" />
                </div>
                <div class="col-md-6">
                    <i class="fa-solid fa-file images-icon-tk"></i>
                </div>
                <a class="ChiTiet">
                    Chi tiết
                </a>
            </div>
        </div>
    </div>
</div>